<div class="header_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="d-flex">
                    <div class="header_top_heading">
                        <h1><span><i class="fas fa-phone fa-flip-horizontal mr-2"></i></span> <span></span>+1 (647) 473-5359</h1>
                    </div>
                    <div class="header_top_heading pl-4">
                        <h1><span><i class="fa fa-envelope mr-2"></i></span> <span></span > komail.rezaie@zest-canada.com</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="iconfb text-right">
                    <ul>
                       <a href="https://www.facebook.com/ZestCan" target="_blank"> <li  class="margin-right"><i class="fab fa-facebook-f"></i></li></a>
                       <a href="https://www.instagram.com/ZestCan" target="_blank"><li class="margin-right"><i class="fab fa-instagram"></i></li></a>
                        <a href="https://twitter.com/CanZest" target="_blank"><li><i class="fab fa-twitter"></i></li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- header_top-end -->
<div class="navbar-wrap menu">
        <nav id="navbar_top" class="navbar navbar-expand-lg">
          <div class="container">
            <a class="navbar-brand animate__animated animate__fadeInLeft" href="index.html">
              <img src="../../../assets/imgg/logo.png" class="img_logo">
            </a>
            <button class="navbar-toggler animate__animated animate__fadeInRight" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
                <i class="fas fa-bars" style="color: #fff; line-height: 28px;"></i>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="main_nav">
              <ul class="navbar-nav ml-auto animate__animated animate__fadeInRight">
                <li class="nav-item"><a class="nav-link"  href="#homess">HOME </a></li>
                <li class="nav-item"><a class="nav-link" href="#aboutss">ABOUT</a></li>
                <li class="nav-item" ><a class="nav-link" routerLink="/Partner">PARTNER</a></li>
                <li class="nav-item"><a class="nav-link"  href="#testimonialsss">TESTIMONIAL</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/blogs">BLOG</a></li>
                <li class="nav-item"><a class="nav-link"  routerLink="/contact_us">CONTACT</a></li>
                <li class="nav-item"><a class="nav-link contact_btn_top"  routerLink="/login"><span class="pr-2"><i class="fas fa-mobile-alt"></i></span> ADMIN LOGIN </a></li>
                <li class="nav-item"><a class="nav-link contact_btn_top"  routerLink="/partnerlogin"><span class="pr-2"><i class="fas fa-mobile-alt"></i></span> PARTNER LOGIN </a></li>
              </ul>
            </div> <!-- navbar-collapse.// -->
        </div> <!-- container.// -->
    </nav>
</div>