<footer class="footer_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="footer_heading animate__animated animate__fadeInLeft">
                    <h1>Copyright © 2020  All Rights Reserved Zest Solutions Inc.</h1>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="d-flex">
                        <div routerLink="/terms_and_condition"  class="footer_heading animate__animated animate__fadeInRight " style="flex: 1;">
                            <h2 style="cursor: pointer;">Terms & Conditions</h2>
                        </div>
                        <div routerLink="/policy" class="footer_heading animate__animated animate__fadeInRight ">
                            <h2 style="cursor: pointer;"> Privacy Policy</h2>
                        </div>
                </div>
            </div>
        </div>
    </div>
</footer>
