<app-homeheader></app-homeheader>
<div class="partner_sec">
	<div class="container">
		<div class="partner_sec_heading animate__animated animate__fadeInDown">
			<h1>Partner with Zest </h1>
			<h2>Zest is an application tailored for the growth of Small and Standalone GYMs and Fitness Studios wanting
				to grow and coping with the virtual competition<br> and impact of COVID 19 social distancing rules. The
				Fitness Industry has been impacted more than others. A lot of fitness and activity studios<br> have
				closed or are going to close. </h2>
		</div>
	</div>
</div><!-- partner_sec-end -->
<div class="zest_offer float-left">
	<div class="container">
		<div class="row">
			<div class="partner_sec_heading animate__animated animate__fadeInDown w-100">
				<h1 class="text-black"> Why be a Zest Member? </h1>
				<h2 class="text-center pt-4">Pay for what you use. You only pay when you use a gym rather than
					the classical monthly membership you pay for your current<br> gym and not even use it every day.
					No contract or joining fee. </h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 pb-sm-2 p-3 p-md-0">
				<span class="text-center icon-div"><img src="../../../assets/img/fitness.svg" alt=""
						width="60px"></span>
				<h1 class="w-100 text-center box-title pt-2">Fitness Brands</h1>
			</div>
			<div class="col-md-3 col-sm-6 pb-sm-2 p-3 p-md-0">
				<span class="text-center icon-div"><img src="../../../assets/img/dumbbell.svg" alt=""
						width="60px"></span>
				<h1 class="w-100 text-center box-title pt-2">Gyms</h1>
			</div>
			<div class="col-md-3 col-sm-6 pb-sm-2 p-3 p-md-0">
				<span class="text-center icon-div"><img src="../../../assets/img/live-music.svg" alt=""
						width="60px"></span>
				<h1 class="w-100 text-center box-title pt-2">Dance Studio</h1>
			</div>
			<div class="col-md-3 col-sm-6 pb-sm-2 p-3 p-md-0">
				<span class="text-center icon-div"><img src="../../../assets/img/martial-arts-couple-fight.svg" alt=""
						width="60px"></span>
				<h1 class="w-100 text-center box-title pt-2">MMA Centers</h1>
			</div>
		</div>
	</div>
</div><!-- partner_sec-end -->
<div class="partners_box_sec float-left w-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-4 col-sm-12">
				<img src="../../../assets/img/partnerblog1.jpg" alt="" class="w-100 float-left">
			</div>
			<div class="col-lg-6 col-md-8 col-sm-12">
				<div class="partner_box animate__animated animate__fadeInDown">
					<strong class="float-left">01</strong>
					<h1 class="text-left">Increase your exposure with (dynamic) Zest Members</h1>
					<p class="text-left">Your presence on ZEST will expose you to all the members irrespective of the
						location or place they are from. Every member who wishes to workout in your vicinity will be
						exposed to your presence. Fitness is an activity of habit and your availability will bring you
						actual footfall. Then the ball is in your court! </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-8 col-sm-12 order-md-1 order-sm-2 order-2">
				<div class="partner_box animate__animated animate__fadeInDown">
					<strong class="float-left">02</strong>
					<h1 class="text-left">More customers no effort, we do all the hard work</h1>
					<p class="text-left">Zest members are Fitness enthusiasts. These individuals who are looking for a
						new place available for fitness activity at their convenience, with facilities they want, who
						can bring their community and you will have the ability to capture a customer base that would
						have otherwise not tried your GYM or Activity Center.</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-4 col-sm-12 order-md-2 order-sm-1 order-1">
				<img src="../../../assets/img/partnerblog-2.jpg" alt="" class="w-100 float-left">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-4 col-sm-12">
				<img src="../../../assets/img/partnerblog3.jpg" alt="" class="w-100 float-left">
			</div>
			<div class="col-lg-6 col-md-8 col-sm-12">
				<div class="partner_box animate__animated animate__fadeInDown">
					<strong class="float-left">03</strong>
					<h1 class="text-left">Reach new customers</h1>
					<p class="text-left">Zest is a resource to help you lower your customer acquisition costs. A
						tailored solution to get you more new customers. It is known that 13% of Fitness Enthusiasts
						have two fitness center memberships and of that 10% have more than 2 fitness center memberships.
						This customer base is the place where you can capitalize on long-term clients. This is your
						potential client resource! </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-8 col-sm-12 order-md-1 order-sm-2 order-2">
				<div class="partner_box animate__animated animate__fadeInDown">
					<strong class="float-left">04</strong>
					<h1 class="text-left">You decide your boundaries</h1>
					<p class="text-left">Zest helps Fitness and Activity Studios like yours by bringing in new
						customers, increasing your visibility and improving your margin. Your Partnership with Zest
						starts when you want and ends when you want. We decide the terms for your growth together.</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-4 col-sm-12 order-md-2 order-sm-1 order-1">
				<img src="../../../assets/img/partnerblog4.jpg" alt="" class="w-100 float-left">
			</div>
		</div>
	</div>
</div>
<div class="easypartner pt-5 pb-4 ">
	<div class="container">
		<div class="row pb-5">
			<div class="partner_sec_heading animate__animated animate__fadeInDown w-100">
				<h1 class="text-black pb-3"> Partnering with Zest is Easy </h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<a routerLink="/">
					<div class="easypartner_box">
						<img src="../../../assets/img/easypartner_1.png" class="img_easy_partner_box">
						<h1>Visit Our Website</h1>
						<p>www.zest-canada.com</p>
					</div>
				</a>
				<a>
					<div class="easypartner_circle_1">
						1
					</div>
				</a>
			</div>
			<div class="col-lg-4">
				<a routerLink="/partner-register">
					<div class="easypartner_box">
						<img src="../../../assets/img/easypartner_2.png" class="img_easy_partner_box">
						<h1>Register as Partner</h1>
						<p>Register Now</p>
					</div>
				</a>
				<a>
					<div class="easypartner_circle_2">
						2
					</div>
				</a>
			</div>
			<div class="col-lg-4">
				<a >
					<div class="easypartner_box">
						<img src="../../../assets/img/easypartner_3.png" class="img_easy_partner_box">
						<h1>Add Your Fitness Center</h1>
						<p>You can add multiple location of your fitness center.</p>
					</div>
				</a>
				<a>
					<div class="easypartner_circle_3">
						3
					</div>
				</a>
			</div>
		</div>
		<div class="row row_hide">
			<div class="col-lg-5">
				<a>
					<div class="easypartner_box">
						<img src="../../../assets/img/easypartner_5.png" class="img_easy_partner_box">
						<h1>Print QR Code</h1>
						<p>Print your QR Code to accept payments.</p>
					</div>
				</a>
				<a>
					<div class="easypartner_circle_4">
						5
					</div>
				</a>
			</div>
			<div class="col-lg-5">
				<a >
					<div class="easypartner_box">
						<img src="../../../assets/img/easypartner_4.png" class="img_easy_partner_box">
						<h1>Our team will get in touch with you</h1>
						<p>"zset team will contact you within 48 working hours for further formalities"</p>
					</div>
				</a>

				<a>
					<div class="easypartner_circle_5">
						4
					</div>
				</a>
			</div>
		</div>

		<div class="row d-lg-none">
			<div class="col-lg-5">
				<a >
					<div class="easypartner_box">
						<img src="../../../assets/img/easypartner_4.png" class="img_easy_partner_box">
						<h1>Our team will get in touch with you</h1>
						<p>"zset team will contact you within 48 working hours for further formalities"</p>
					</div>
				</a>

				<a>
					<div class="easypartner_circle_5">
						4
					</div>
				</a>
			</div>
			<div class="col-lg-5">
				<a >
					<div class="easypartner_box">
						<img src="../../../assets/img/easypartner_5.png" class="img_easy_partner_box">
						<h1>Print QR Code</h1>
						<p>Print your QR Code to accept payments.</p>
					</div>
				</a>
				<a>
					<div class="easypartner_circle_4">
						5
					</div>
				</a>
			</div>
		</div>
	</div>

</div>



<app-homefooter class="float-left w-100"></app-homefooter>