
<app-homeheader></app-homeheader>

<section class="addpartner float-left w-100">
    <div class="container">
        <div class="row">
            <div class=" float-left w-50 form_container">
                <h2 class="form_title w-100 text-center pb-4"><span>Partner</span> &nbsp;Register</h2>
               

                <form [formGroup]="partnerForm" (ngSubmit)="onSubmit()" >
                
                  <div class="form-row" >
                      <div class="form-group col-1"></div>
                      <div class="form-group col-5" >
                          <label> Partner Name</label>
                          <input type="text" formControlName="partnerName"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.partnerName.errors }" />
                          <div *ngIf="submitted && f.partnerName.errors" class="invalid-feedback">
                              <div *ngIf="f.partnerName.errors.required"> Name is required</div>
                          </div>
                      </div>
                      <div class="form-group col-5">
                          <label> User Name</label>
                          <input type="text" formControlName="userName"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                          <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                              <div *ngIf="f.userName.errors.required">userName is required</div>
                          </div>
                      </div>
                      <div class="form-group col-1"> </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-1"></div>
                    <div class="form-group col-5">
                      <label> Official Email</label>
                      <input type="text" formControlName="officialEmail"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.officialEmail.errors }" />
                      <div *ngIf="submitted && f.officialEmail.errors" class="invalid-feedback">
                          <div *ngIf="f.officialEmail.errors.required">officialEmail is required</div>
                          <div *ngIf="f.officialEmail.errors.pattern">Please, Enter valid Email</div>
                      </div>
                  </div>
                  <div class="form-group col-5">
                    <label>Password </label>
                    <input type="password" formControlName="password"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">password is required</div>
                    </div>
                </div>
                    <div class="form-group col-1"> </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-1"></div>
                  <div class="form-group col-5">
                    <label>Pincode</label>
                    <input type="number" formControlName="pincode"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }" />
                    <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                        <div *ngIf="f.pincode.errors.required">pincode is required</div>
                          
                    </div>
                </div>
                <div class="form-group col-5">
                  <label>Address </label>
                  <input type="text" formControlName="address"  [(ngModel)]="address"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" readonly  />
                  <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                      <div *ngIf="f.address.errors.required">address is required</div>
                  </div>
              </div>
                  <div class="form-group col-1"> </div>
              </div>
              <div class="form-row">
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                  <label> Province </label>
                  <input type="text" formControlName="state"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />
                  <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                      <div *ngIf="f.state.errors.required">province  is required</div>
                  </div>
              </div>
              <div class="form-group col-5">
                <label>City</label>
                     <select formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                          <option *ngFor="let i of city" value={{i.id}}>{{i.name}}</option>
                                      
                     </select>
                     <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                    <div *ngIf="f.city.errors.required">city is required</div>
                    </div>
              </div>
              
                <div class="form-group col-1"> </div>
              </div>
              <div class="form-row">
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                  <label>Contact Number</label>
                  <input type="number" formControlName="contactNo"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contactNo.errors }" />
                  <div *ngIf="submitted && f.contactNo.errors" class="invalid-feedback">
                      <div *ngIf="f.contactNo.errors.required">Number is required</div>
                        <div *ngIf="f.contactNo.errors.pattern">Please, Enter 10 digit Mobile Number.</div>
                  </div>
              </div>
              <div class="form-group col-5">
                <label> latitude</label>
       <input type="text" formControlName="latitude"  class="form-control" [(ngModel)]="latitude" [ngClass]="{ 'is-invalid': submitted && f.latitude.errors }" readonly/>
       <div *ngIf="submitted && f.latitude.errors" class="invalid-feedback">
           <div *ngIf="f.latitude.errors.required"> latitude is required</div>
       </div>
             </div>
                <div class="form-group col-1"> </div>
              </div>



              <div class="form-row">
          
                <div class="form-group col-1"></div>
                    <div class="form-group col-6">
                        
                        <label> Address</label>
                        <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                      </div>
                    
                      <div class="form-group col-4">
                        <label> longitude</label>
                        <input type="text" formControlName="longitude"  class="form-control" [(ngModel)]="longitude" [ngClass]="{ 'is-invalid': submitted && f.latitude.errors }" readonly/>
                        <div *ngIf="submitted && f.longitude.errors" class="invalid-feedback">
                            <div *ngIf="f.longitude.errors.required"> longitude is required</div>
                        </div>
                      </div>
                    <div class="form-group col-1"></div>
                      
                  </div>
                 

                  <div class="form-row">
                    <div class="form-group col-1"></div>
                    <div class="form-group col-10">
                        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                              (dragEnd)="markerDragEnd($event)"></agm-marker>
                        </agm-map>
                    </div>
            
                    <div class="form-group col-1"></div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-1"></div>
                    <div class="form-group col-10">
                        <h5>Plz Set the Map Marker to your Location</h5>
                    </div>
            
                    <div class="form-group col-1"></div>
                  </div>





                  <br>
                  
                  
                  <div class="text-center">
                      <button class="btn  mr-1 save">Register</button>
                    
                  </div>
                  <br>
              </form>

                
            </div>
        </div>
    </div>
</section>

<app-homefooter></app-homefooter>