

/*privacy_policy_page-css*/

.privacy_banner_sec {
    background: url(../../assets/img/privacy_banner.png);
    min-height: 250px;
    background-position: center;
    display: flex;
    align-items: center;
}
.privacy_banner_heading h1 {
    font-weight: 900;
    text-align: center;
    font-size: 28px;
    color: #fff;
}
.privacy_heading h1{
  font-size: 18px;
  color: #000;
}
.privacy_heading h1 span{
  font-weight: bold;
  color: blue;
}
.privacy_heading h2{
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin-bottom: 15px;
}
.privacy_heading h3{
  font-size: 15px;
  color: #000;
  font-weight: bold;
  margin-bottom: 15px;
}
.privacy_heading p{
  font-size: 14px;
  color: #000;
  margin-bottom: 15px;
}
.privacy_heading p span{
  color: blue;
}
.privacy_heading ul{
  padding-left: 50px;
}
.privacy_heading ul li{
  font-size: 14px;
  color: #707070;
  list-style: disc;
}