
<app-homeheader></app-homeheader>
    <div class="privacy_banner_sec">
        <div class="container">
            <div class="privacy_banner_heading animate__animated animate__fadeInDown">
                <h1>Privacy Policy</h1>
            </div>
        </div>
    </div><!-- partner_sec-end -->
    <div class="privacy_section">
        <div class="container">
            <div class="privacy_heading">
                <h1 class="mb-3 mt-5">This Privacy Policy applies to <span  style="cursor: pointer;"><a href="http://www.zest-canada.com/#/">www.zest-canada.com</a></span></h1>
                <h2>Last Updated May 01,2021</h2>
                <p>The respect of your private life is of the utmost importance for Zest Solutions Inc that is responsible for this website.</p>
                <h2>This privacy policy aims to layout:</h2>
                <ul>
                    <li>The way your personal information is collected and processed. “Personal information” means any information that could identify you such as your name, your mailing address, your email address, your location, and your IP address. “Personal Information” is a synonym for “personal data” within meaning of the Privacy Act and our policy entails using secure protocols (HTTPS) for all communications containing personal information, being transparent about the data we collect and not sharing with any 3rd party, whatsoever.</li>
                    <li>Your right regarding your personal information</li>
                    <li>Who is responsible for processing of the collected and processed information</li>
                    <li>To whom the information is transmitted</li>
                    <li>If applicable the website's policy regarding cookies.</li>
                </ul>
                <p>This privacy policy complements the terms and conditions that you can find at the following address <a href="http://www.zest-canada.com/#/terms_and_condition"> http://www.zest-canada.com/#/terms_and_condition</a></p>
                <h2>1.	COLLECTION OF PERSONAL INFORMATION</h2>
                <p>We collect the following personal information:</p>
                <ul>
                    <li>Last name</li>
                    <li>First name</li>
                    <li>Mailing address</li>
                    <li>Postal code</li>
                    <li>Email address</li>
                    <li>Contact number</li>
                    <li>Credit card number</li>
                    <li>Gender</li>
                    <li>Date of birth/ age</li>
                </ul>
                <p>The personal information we collect is collected through the collection methods described in the following section </p>
                <h2>2.	FORMS AND METHODS OF COLLECTION </h2>
                <p>Your personal information is collected through the following methods:</p>
                <ul>
                    <li>Website registration form </li>
                    <li>Studio Usage</li>
                    <li>Payment form We use the collected data for the following purposes:</li>
                    <li>Order tracking</li>
                    <li>Special offers</li>
                    <li>Statistics</li>
                    <li>Contact</li>
                    <li>Managing the website</li>
                </ul>
                <h2>3.	INTERACTIVITY</h2>
                <p>Your personal information is also collected through the interactivity between you and the website.This personal information is collected through the following methods:</p>
                <ul>
                    <li>Information from promotional offers </li>
                    <li>Studio usage</li>
                </ul>
                <p>We use the personal information thus collected for the following purposes statistics </p>
                <ul>
                    <li>Contact</li>
                    <li>Website management</li>
                </ul>
                <h2>4.	COOKIES AND LOG FILES </h2>
                <p>We collect information through log files and cookies these allow us to process statistics an information on traffic on the website, to ease navigation an improve your experience for your comfort.</p>
                <h3>a.	Cookies used by the website </h3>
                <p>The cookie files used on the website are the following:</p>
                <ul>
                    <li>IP address</li>
                    <li>Operating system</li>
                    <li>Pages visited and queries</li>
                    <li>Day and time of connection</li>
                </ul>
                <p>The use of such files allows us to achieve the following purposes:</p>
                <ul>
                    <li>Improvement of this service and personalized welcome</li>
                    <li>Personalized consumption profiles</li> 
                    <li>Order tracking</li> 
                    <li>Statistical surveys</li>
                </ul>
                <h3>b.	Objection to the use of cookies and log files by the website </h3>
                <p>You have the right to object to the recording of these cookies and log files by configuring your web browser. Once you have deactivated cookies and log files you may continue your use of the website however any malfunction resulting from this deactivation may not be considered of our making.</p>
                <h2>5.	SHARING PERSONAL INFORMATION</h2>
                <p>The personal information collected by the website is not transmitted to any third party and is processed only by us.</p>
                <h2>6.	STORAGE PERIOD OF PERSONAL INFORMATION </h2>
                <p>The controller will keep in its computer systems in reasonable security conditions for the duration of one year.</p>
                <h2>7.	HOSTING OF PERSONAL INFORMATION </h2>
                <p>Our website is hosted by GoDaddy. The host may be contacted at www.godaddy.com, the personal information we collect, and processes exclusively hosted at in Canada.</p>
                <h2>8.	CONTROLLER</h2>
                <p>The controller is zest Solutions Inc the controller may be contacted via the contact form on the website www.zest-canada.com.</p>
                <p>The controller is in charge of determining the purposes for which personal information is processed and the means at the service of such processing.</p>
                <p>If you wish to exercise the right to object are the right to withdraw you must follow the procedure below:</p>
                <ul>
                    <li>Submit a request through the contact form</li>
                    <li>Email at info@zest-canada.com</li>
                </ul>
                <h2>9.	RIGHT OF ACCESS,OF RECTIFICATION AND OF </h2>
                <p>You have the right to consult, update, modify or request the removal of information about you by following the procedure described below:</p>
                <ul>
                    <li>Submit a request through the contact form</li>
                    <li>Email at info@zest-canada.com</li> 
                    <li>Raise an issue </li>
                </ul>
                <h2>10.	SECURITY</h2>
                <p>Personal data we collect is stored in a secure environment. people working for us are obligated to respect the confidentiality off your personal information.</p>
                <p>To ensure the security off your personal information, we use the following methods:</p>
                <ul>
                    <li>SSL (security sockets layer)protocol</li> 
                    <li>Access management -person authorized </li>
                    <li>Access management -person concerned</li>
                    <li>Automatic backup</li> 
                    <li>Digital certificate</li> 
                    <li>Username password</li> 
                    <li>Firewalls</li>
                </ul>
                <p>We are committed to maintaining a high degree of confidentiality by integrating the latest technological innovations but allow us to ensure confidentiality of your transactions. However, no mechanism ensures a complete security and transmitting personal data on the Internet always and tails apart of risk.</p>
                <h2>11.	CHILDREN </h2>
                <p>Our website is meant for the usage of persons of the age of 18 years and above.</p>
                <h2>12.	CHANGES TO OUR PRIVACY POLICY </h2>
                <p>Our privacy policy may be viewed at all times at the following address <span ><a href="http://www.zest-canada.com/#/policy">http://www.zest-canada.com/#/policy</a></span> . You are therefore invited to regularly consult our privacy policy to be informed of the latest changes.</p>
                <h2>13.	ACCEPTANCE OF OUR POLICY </h2>
                <p>By using our website, you certify that you have read and understood this privacy policy Anne except it is conditions, more specifically conditions relating to the collection and processing of personal data and the use of cookies.</p>
                <h2>14.	APPLICABLE LAW </h2>
                <p>We are committed to respect the legislative provisions as specified in:</p>
                <p>The Privacy Act; and/or</p>
                <p>The Digital Charter Implementation Act, 2020; and/or</p>
                <p>Act Respecting the Protection of Personal Information in the Private Sector, CQLR CP-39.1.</p>
            </div>
        </div>
    </div>

    <app-homefooter></app-homefooter>